@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="bemvindoTitle">
        <h1 id="title">Seja Bem Vindo ao Cinemaxx</h1>
        <p class="lead">Faça seu login ou se cadastre-se para ter acesso a nossa programação de filmes e ingressos</p>
    </section>
</main>